.bootstrap-card {
  width: 20rem;
  border: 3px solid teal;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px #333;
}

.bootstrap-title {
  margin: 10px 0;
}

.cards-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.cards-wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards-location {
  margin-bottom: 24px;
}

.city-drop-down {
  padding: 10px;
  font-size: 1rem;
  margin-top: 10px;
  outline: none;
}

@media only screen and (min-width: 1024px) {
  .cards-location {
    display: flex;
    flex-wrap: wrap;
  }

  .bootstrap-card {
    margin: 20px;
  }
}
