.contact-form-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.contact-instructions-container {
    width: 50%;
    max-width: 450px;
    padding: 10px;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.instructions {
    margin-top: 10px;
}

.contact-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    margin: 10px 0;
}

.contact-form input {
    width: 300px;
    max-width: 450px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.form-submit-button {
    width: 100px;
}

.contact-form .form-submit-button:hover {
    background-color: #333;
    color: white;
    cursor: pointer;
}

@media screen and (orientation: landscape) {
    .contact-form-container {
        margin-top: 180px;
    }
}